<!DOCTYPE html>
<html>
<head>
	<title>
		Welcome to SnV Entertainment
	</title>
</head>
<body>
	<h1>SnV Entertainment</h1>
	<ul>
		<li><%= link_to "Spots", locations_spot_path %></li>
	</ul>
</body>
</html>
